html{
    transition: 2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(img/floresta\ temperada.jpg);
    background-size: cover;
}

#logo{
    transition: 100ms ease-in-out;
    display: block;
    margin: 30px auto 0px auto;
    width: 70px;
}

#logo:hover{
    margin-bottom: -10px;
    width: 80px;
}

#area{
    bottom: 10px;
    position: relative;
    background-image: url(img/stacked-peaks-haikei\ \(1\).svg);
    filter: brightness(80%);
    width: 400px;
    height: 400px;
    box-shadow: 5px 10px 10px rgb(0, 22, 9);
    border-radius: 20px;
    display: block;
    margin: 10px auto auto auto ;
}

#titulo{
    padding-top: 15px;
    margin: 20px auto 40px auto;
    font-size: 2.5em;
    background-image: linear-gradient(to right,rgb(2, 63, 78), rgb(5, 31, 22));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    text-align: center;
}


.sub{
    transform: translatey(10px);
    margin: 10px 10px 20px 15px;
    color: white;
}

.txtarea{
    resize: none;
    font-size:2em ;
    color: white;
    background: rgb(20, 51, 38);
    margin: 0px 0px 0px 20px;
    height: 40px;
    width: 350px;
}

button{
    bottom: 20px;
    position: relative;
    transition: color, width, padding 0.5s ease;
    cursor: pointer;
    font-size: 20px;
    margin: 50px auto 0px auto;
    display: block;
    width: 90px;
    padding: 5px;
    color: white;
    border: 1px solid rgb(6, 63, 90);
    border-radius: 3px;
    background: rgb(4, 46, 40);
}

button:hover{
    background-image:linear-gradient(to right, rgb(135, 182, 135), rgb(3, 151, 114));
    color: rgb(4, 45, 40);
    padding: 10px;
    width: 100px;

}

#bottom-page{
    margin-top: 40px;
    text-align: center;
    position: static;
    display: block;
    font-weight: 700;
    color: whitesmoke;
}